/*Main UI*/

.contact-pane {
    -fx-background-color: #1e1e1e;
    -fx-padding: 15 20 20 15;
    -fx-pref-width: 250;
}

.contact-list {
    -fx-background-color: #000815;
    -fx-control-inner-background: #000815;
    -fx-background-radius: 10;
}

.contact-list .scroll-bar:horizontal,
.contact-list .scroll-bar:vertical {
    -fx-opacity: 0;
    -fx-padding: -10; /* Optional: removes clickable area */
}

.contact-list-inner {
    -fx-background-color: #000815;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}
.contact-list .list-cell:selected {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.contact-list .list-cell:focused {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;

}

.contact-list:focused .list-cell:selected {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.contact-list .list-cell:selected .contact-cell {
    -fx-background-color: #001630;
    -fx-alignment: center-left;
    -fx-border-radius: 10,10,10,10;
    -fx-background-radius: 10,10,10,10;
}
.contact-cell:hover {
    -fx-padding: 8;
    -fx-background-color: #161f2e;
    -fx-alignment: center-left;
    -fx-border-radius: 10,10,10,10;
    -fx-background-radius: 10,10,10,10;
}


.contact-cell {
    -fx-padding: 8;
    -fx-background-color: #000815;
    -fx-border-color: #2e333b;
    -fx-alignment: center-left;
    -fx-border-radius: 10,10,10,10;
    -fx-background-radius: 10,10,10,10;
    -fx-border-width: 0 1 1 0;
}


.chat-pane {
    -fx-background-color: #1e1e1e;
    -fx-padding: 10 20 20 0;
}
.chat-pane2{
    -fx-background-color: #000815;
    -fx-padding: 10 10 0 10;
    -fx-margin: 10 10 10 10;
    -fx-background-radius: 10;
}

.chat-header {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-padding: 0 0 10 0;
}
.message-scroll {
    -fx-background-color: #000815;
}

.message-scroll .viewport{
    -fx-background-color: #000815;
}


.section-title {
    -fx-font-size: 24px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-padding: 0 0 0 16;
}


.message-container {
    -fx-padding: 5;
    -fx-background-color: transparent;
    -fx-spacing: 10;
}

.message-bubble {
    -fx-background-color: #dcf8c6;
    -fx-background-radius: 16;
    -fx-padding: 10;
    -fx-max-width: 100%;
    -fx-font-size: 14px;
    -fx-text-fill: #303030;
}

.message-bubble.received {
    -fx-background-color: #ffffff;
    -fx-border-color: #ccc;
    -fx-border-width: 1;
    -fx-text-fill: #222;
}

.input-box {
    -fx-padding: 15 5 15 5;
}

.message-input {
    -fx-background-color: #2e333b;
    -fx-text-fill: white;
}
.message-box {
    -fx-background-radius: 10;
    -fx-background-color: #2e333b;
    -fx-border-radius: 10;
    -fx-padding: 5;
}

.send-button {
    -fx-background-color: #0088cc;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-padding: 5 14;
}




.profile-image {
    -fx-background-radius: 100;
    -fx-border-radius: 100;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 4, 0, 0, 1);
}

.name-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #f3f0f0;
    -fx-background-color: TRANSPARENT;
}

.subtext-label {
    -fx-font-size: 12px;
    -fx-text-fill: #a0a0a0;
    -fx-background-color: TRANSPARENT;
}

.status-label {
    -fx-font-size: 11px;
    -fx-font-weight: bold;
}

.status-label.online {
    -fx-text-fill: #4CAF50;
}

.status-label.offline {
    -fx-text-fill: #B0BEC5;
}

.user-search-field  {
    -fx-padding: 5 10;
    -fx-background-color: transparent;
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #999;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

/* Text field styling */
.search-box {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #34414e;
    -fx-background-color: #000815;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 0 0 0 10;
}

/*Video call section*/
.name-label-incomingCall{
    -fx-font-size: 18px;
    -fx-text-fill: #ffffff;
    -fx-alignment: center;
}
.call-request-pane {
    -fx-background-color: #16243e;
    -fx-padding: 0;

}
.accept-reject-Hbox {
    -fx-padding: 10;
    -fx-spacing: 60;
    -fx-background-color: transparent;
    -fx-alignment: center;
}

.accept-reject-button {
    -fx-margin: 0 50 0 50;
}

.loginBox{
    -fx-background-color: white;
    -fx-background-radius: 15;
}

.errorLabel {
    -fx-text-fill: red;
    -fx-font-size: 14px;
}
